.form-control:focus{
    border-color: #18bc9c !important;
}
.glyphicon-2x {
    font-size: 30px;
}

textarea.form-control {
    font-size: 19px;
    font-weight: bold;
}
.container {
    width:1280px;
}
/*@media screen and (min-width: 768px){
    .jumbotron {
        padding-top: 25px !important;
        padding-bottom: 25px !important;
    }
}*/

.osciContainer {
  position: relative;
}
.spectroContainer {
  position: relative;
}
.levelContainer {
  position: relative;
}

.canvas1 {
  position: relative;
  width:100%;
  z-index: 1;
}

.canvas2 {
  position: absolute;
  width:100%;
  left: 0px;
  top: 0px;
  z-index: 2;
}
