[submodule "js/wavesurfer.js"]
	path = app/js/wavesurfer.js
	url = git@github.com:seblemaguer/wavesurfer.js.git
[submodule "js/FileSaver.js"]
	path = app/js/FileSaver.js
	url = git@github.com:eligrey/FileSaver.js.git
