#synth_area {
    width:100%;
    height:300px;
}

textarea[name="text_to_synth"] {
    width : 98%;
    /* border-radius: 10px; */
    height : 230px;  /* FIXME : going to percentage */
}

select { /* [name="voices"] */
    width : 100%;
    /* border-radius: 10px; */
    height : 95px;
}

#regions {
    margin-top: 10px;
    margin-bottom: 10px;
}

#text_area {
    width: 69%; 
    margin:1px; 
    padding: 0em; 
    float:left;
}


#voice_choices { 
  width: 30%; 
  margin: 1px; 
  padding: 0em;
  text-align: center;
  float:right;
}

#validation_part {
    width:100%;
    vertical-align:middle;
}

button[name="synth"] {
    width: 69%;
    display: inline-block;
    height:50px;
    margin: 1px;
    padding: 0em;
    float: left;
}
fieldset[name="output_level"] {
    width:29%;
    height:50px;
    padding: 0em;
    float:right;
}


legend {
    margin-top:0px;
}

#audio_area {
    width:100%;
    border:1px;
}

#waveform {
    margin-top:0px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    width:90%;
}

#timeline {
    margin-top:70px;
    margin-bottom:0px;
    margin-left:auto;
    margin-right:auto;
    width:90%;
}

#debug_area {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


textarea[name="debug"] {
    border-radius: 10px;
    width: 100%;
    height:300px;
}

fieldset {
    margin-top:0;
    border-radius: 10px;
}
legend {
    margin-left:10px;
    margin-top:0;
}

#controls {
    text-align:center;
}
