
<div class="col-sm-12" id="audio_area">
    <div id="controls" class="text-center">
        <button class="btn btn-primary" id="pause" name="pause" onclick="pause();" data-state="off" disabled>
            <em id="pause-icon" class="glyphicon glyphicon-pause"></em> <span id="pause-text">Pause</span>
        </button>
        <button class="btn btn-primary" id="play" name="play" onclick="play();" disabled>
            <em class="glyphicon glyphicon-repeat"></em> Replay
        </button>
        <button class="btn btn-success" id="save" name="save" onclick="save();" disabled>
            <em class="glyphicon glyphicon-save"></em> Save
        </button>
    </div>

</div>
