<div class="row">
    <div class="col-sm-6" id="synth_area">
	<inputtext></inputtext>
    </div>
    <div class="col-sm-6" id="configuration">
	<configuration></configuration>
    </div>
</div>

<div class="row" id="validation_part">
    <div class="col-sm-12" ng-controller="runCtrl">
        <button class="btn btn-success btn-block btn-lg" name="synth" ng-click="process();" tabindex=2>Run</button>
    </div>
</div>

<br />
<textresults></textresults>
<log></log>

<br />
<div class="row" id="audio_results_area">
    <osci></osci>
    <spectro></spectro>
    <audiocontrols></audiocontrols>
</div>
